{% extends "base.html" %}
{% load humanize %}

{% block sidebar %}
<style type="text/css">
#events h3 {
	font-size: 14px;
	border: none;
}
#events ul {
	line-height: 1.5em;
	list-style: none;
	padding: 0 10px;
}
#events li {
	overflow: auto;
	margin-bottom: 10px;
}
#events .date_item {
	background: #c00;
	color: #fff;
	text-shadow: none;
	float: left;
	text-align: center;
	padding: 5px;
	margin: 0 5px 5px 0;
	width: 30px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 1px 1px 2px #666;
	-webkit-box-shadow: 1px 1px 2px #666;
}
#events .date_item .month {
	display: block;
	/*font-weight: bold;*/
}
#events a.event_link {
	font-weight: bold;
	font-size: 13px;
	display: block;
}
#events p.event_description {
	margin-left: 45px;
	text-align: justify;
	overflow: hidden;
	width: 230px;
}
</style>
<h2><span class="h_text">Events This Month</span></h2>
<div class="widget_content event_widget_list" id="events">
{% for event in events %}
    {% ifchanged %}
    	<h3>{{ event.start_datetime|naturalday|capfirst }}</h3>
    	{# <ul class="event_widget_list"> #}
    {% endifchanged %}
	    	<li>
				<div class="date_item">
					<span class="month">{{ event.start_datetime|date:"b"|capfirst }}</span>
					<span class="day">{{ event.start_datetime|date:"jS" }}</span>
				</div>
				<p class="event_description">
				<a class="event_link" href="{% url view_event event.key %}/">{{ event.title }}</a>
				{{ event.description|truncatewords:20 }}</p>
			</li>
    {% ifchanged event.start_datetime|naturalday %}
    	{# </ul> #}
    {% endifchanged %}
{% empty %}
	<p>No events found.</p>
{% endfor %}
</div>
{% endblock %}

{% block main_content %}

<style type="text/css">
	.inline_menu {
		height: 30px;
	}
	.inline_menu > li {
		display: inline;
		float: left;
		padding: 0 2px;
	}
	.inline_menu > li > a {
		color: #fff;
		text-shadow: none;
		text-decoration: none;
		background: #000;
		padding: 3px 5px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		/*-webkit-transition: background-color 0.2s linear;*/
	}
	.inline_menu > li > a:hover {
		background: #620084;
		/*-webkit-transition: background-color 0.2s linear;*/ 
	}
	.sep {
		/*border-right: 1px solid #000;*/
	}
</style>

<!-- h2>{% block events_h2 %}Upcomming Events{% endblock %}</h2-->

<div>
	<ul class="inline_menu">
		<li class="sep"><a href="{% url view_events_overview %}">All</a></li>
		<li class="sep"><a href="{% url view_committee_events 'service' %}">Service</a></li>
		<li class="sep"><a href="{% url view_committee_events 'fellowship' %}">Fellowship</a></li>
		<li class="sep"><a href="{% url view_committee_events 'das' %}">DAS</a></li>
		<li class="sep"><a href="{% url view_committee_events 'rush' %}">Rush</a></li>
		<li class="sep"><a href="{% url view_committee_events 'initiation' %}">Initiation</a></li>
		<li class="sep"><a href="{% url view_committee_events 'fundraising' %}">Fundraising</a></li>
		<li class="sep"><a href="{% url view_committee_events 'alumni' %}">Alumni</a></li>
		<li class=""><a href="{% url view_committee_events 'rec_sports' %}">Rec Sports</a></li>
		<li class=""><a href="{% url view_committee_events 'regionals' %}">Regionals</a></li>
	</ul>
</div>

{{ calendar|safe }}


{% comment %}

{% for event in events %}
    {% ifchanged %}<h3>{{ event.start_datetime|naturalday|capfirst }}</h3>{% endifchanged %}
    <li>
    	<a href="{% url view_event event.key %}/">{{ event.title }}</a>
    	{{ event.start_datetime|naturalday|capfirst }} at {{ event.start_datetime|time }}
    	<p class="smalltext">{% ifnotequal event.tagline None %}{{ event.tagline }}{% endifnotequal %}</p>
    </li>
{% empty %}
	<li>No events found.</li>
{% endfor %}


<table class="standard-tbl" cellspacing="0">
<tr><th>Name</th><th>Start Time</th></tr>
{% for event in events %}
<tr>
    <td><a href="{% url view_event event.id %}/">{{ event.title }}</a></td>
    <td>{{ event.start_datetime|naturalday|capfirst }} at {{ event.start_datetime|time }}</td>
</tr>
{% endfor %}
</table>
{% endcomment %}

{% endblock %}