<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{% block page_title %}Phi Sigma Pi - Mizzou{% endblock %}</title>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/scripts.js"></script>

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Molengo" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/reset.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/styles.css" type="text/css">

</head>
<body>
	<div id="header">
		<div id="login">
			<input type="text" name="user" value="Username"></input>
			<input type="password" name="pass" value="Password"></input>
			<input type="submit" value="Login"></input>
		</div>
	</div>
	<div id="main">
		<div id="menu_links">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="">Events</a></li>
				<li><a href="">Committees</a></li>
				<li><a href="">Brothers</a></li>
			</ul>
			<div id="menu_preview">
				<img src="{{ MEDIA_URL }}/img/ajax.gif">
			</div>
		</div>
	    <div id="wrapper">
	        <div id="sidebar">
	        	{% block sidebar %}{% endblock %}
	        </div>
	        <div id="content">
				{% block main_content %}{% endblock %}
			</div>
		</div>
		<div id="footer">
				<div class="col">
					<h3>Delta Xi Chapter Home</h3>
					<h3>About Our Chapter</h3>
					<p>Link 1</p>
					<p>Link 2</p>
					<p>Link 3</p>
				</div>
				<div class="col">
					<h3>Committees</h3>
					<p>Service</p>
					<p>DAS</p>
    				<p>fellowship</p>
    				<p>Rush</p>
					<p>Initiation</p>
					<p>Fundraising</p>
					<p>Alumni</p>
					<p>Rec Sports</p>
 					<p>Regionals</p>
				</div>
				<div class="col">
					<h3>Events</h3>
					<p>Today</p>
					<p>This Week</p>
					<p>This Month</p>
					<p>By Committee</p>
				</div>
			</div>
	</div>
</body>
</html>