{% extends "base.html" %}

{% block main_content %}

Information Nights:

Wednesday, September 7th from 7-9 p.m. in Ellis Auditorium

Thursday, September 8th from 6-8 p.m. in Anheuser-Busch Nat. Resources



First Round:

Monday, September 12

Speed Rush from 6-8 p.m. in Strickland 112-115

Wednesday, September 14

Scavenger Hunt from 6-8 p.m., Meet in Allen Auditorium

Friday, September 16

Trivia Night from 7-9 p.m. in Memorial Union N214-215

Sunday, September 18

Trash Pick-up Service Event from 1-3 p.m.

meet in front of Memorial Union at 12:45

Tuesday, September 20

Dessert Social from 6-7 p.m. in Middlebush 12



Second Round: Invitation Only

Thursday, September 22

Pizza and Games on the Quad from 6-8 p.m.

Friday, September 23

Dinner with Brothers from 7-9 p.m.

Meet in front of Memorial Union at 6:45

Sunday, September 25

Group Interviews from 1-3 p.m. in Mark Twain Ballroom

Monday, September 26

Bro Builder from 6-8 p.m. on the Quad

Tuesday, September 27

Dessert Social from 6-7 p.m. in Middlebush 12


Pinning September 30th 8pm (location TBA)


{% endblock %}