{% extends "base.html" %}

{% block main_content %}

<p>Information Nights:</p>

<p>Wednesday, September 7th from 7-9 p.m. in Ellis Auditorium</p>

<p>Thursday, September 8th from 6-8 p.m. in Anheuser-Busch Nat. Resources</p><br />


<p>First Round:</p><br/>

<p>Monday, September 12</p>

<p>Speed Rush from 6-8 p.m. in Strickland 112-115</p><br />

<p>Wednesday, September 14</p>

<p>Scavenger Hunt from 6-8 p.m., Meet in Allen Auditorium</p><br />

<p>Friday, September 16</p>

<p>Trivia Night from 7-9 p.m. in Memorial Union N214-215</p><br />

<p>Sunday, September 18</p>

<p>Trash Pick-up Service Event from 1-3 p.m.</p>

<p>Meet in front of Memorial Union at 12:45</p><br />

<p>Tuesday, September 20</p>

<p>Dessert Social from 6-7 p.m. in Middlebush 12</p><br />



<p>Second Round: Invitation Only</p><br />

<p>Thursday, September 22</p>

<p>Pizza and Games on the Quad from 6-8 p.m.</p><br />

<p>Friday, September 23</p>

<p>Dinner with Brothers from 7-9 p.m.</p>

<p>Meet in front of Memorial Union at 6:45</p><br />

<p>Sunday, September 25</p>

<p>Group Interviews from 1-3 p.m. in Mark Twain Ballroom</p><br />

<p>Monday, September 26</p>

<p>Bro Builder from 6-8 p.m. on the Quad</p><br />

<p>Tuesday, September 27</p>

<p>Dessert Social from 6-7 p.m. in Middlebush 12</p><br />


<p>Pinning September 30th 8pm (location TBA)</p>


{% endblock %}